In [12]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [13]:
genre = ["Action", "Adventure", "Animation", "Children's", "Comedy", "Crime", "Documentary", "Drama", "Fantasy", "Film-Noir", "Horror", "Musical", "Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western"]

In [17]:
data = pd.read_csv('u.item', sep="|", header=None)

In [19]:
data.shape

(1682, 24)

In [21]:
data.columns = ["index", "title", "releaseDate", "", "imdb"] + genre +[""]

In [26]:
data['title']

0                                Toy Story (1995)
1                                GoldenEye (1995)
2                               Four Rooms (1995)
3                               Get Shorty (1995)
4                                  Copycat (1995)
                          ...
1677                            Mat' i syn (1997)
1678                             B. Monkey (1998)
1679                         Sliding Doors (1998)
1680                          You So Crazy (1994)
1681    Scream of Stone (Schrei aus Stein) (1991)
Name: title, Length: 1682, dtype: object

In [27]:
data.drop('', axis='columns', inplace=True)

In [35]:
data.iloc[:,4:]

      Action  Adventure  Animation  Children's  ...  Sci-Fi  Thriller  War  Western
0          0          0          0           1  ...       0         0    0        0
1          0          1          1           0  ...       0         0    1        0
2          0          0          0           0  ...       0         0    1        0
3          0          1          0           0  ...       0         0    0        0
4          0          0          0           0  ...       0         0    1        0
...      ...        ...        ...         ...  ...     ...       ...  ...      ...
1677       0          0          0           0  ...       0         0    0        0
1678       0          0          0           0  ...       1         0    1        0
1679       0          0          0           0  ...       1         0    0        0
1680       0          0          0           0  ...       0         0    0        0
1681       0          0          0           0  ...       0         0    0        0

[1682 rows x 18 columns]

In [45]:
arr = []
for i in range(data.shape[0]):
  arr.append([])
data['Genre'] = arr
data.iloc[:,-1]

0       []
1       []
2       []
3       []
4       []
        ..
1677    []
1678    []
1679    []
1680    []
1681    []
Name: Genre, Length: 1682, dtype: object

In [49]:
for i in range(data.shape[0]):
  for j in range(4, data.shape[1]-1):
      if(data.iloc[i,j] == 1):
        data.iloc[i,-1].append(genre[j-4])